{% extends 'base.html.twig' %}

{% block title %}Home - Makesense{% endblock %}

{% block body %}
    {%  include "/include/_navbar.html.twig" %}
    <h1>Hello {{ app.user.firstName }}</h1>
    <h2>Mes décisions en cours</h2>

    {% if app.user.decision is empty %}
        <h3>Aucune décision en cours </h3>
    {% else %}
        {% for userDecision in userDecisions %}
           <div class="row d-inline-flex">
                    <div class="card border-secondary col-sm-9 mb-3 m-3" style="max-width: 18rem;">
                        {% for timeline in userDecision.timelines %}
                            {% if loop.first %}
                            <div class="card-header bg-transparent border-secondary">
                                Prochaine étape : {{ timeline.name }}
                                <br>Le : {{ timeline.startedAt |date('d/m/Y')}}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <div class="card-body text-success">
                            <h5 class="card-title">{{ userDecision.title }}</h5>
                        </div>
                        <div class="card-footer bg-transparent border-secondary">
                            {{ userDecision.user.firstName }} {{ userDecision.user.lastName }}
                        </div>
                    </div>
           </div>
        {% endfor %}
    {% endif %}
<br><a {# ROUTE A CHANGER=> href="{{ path('app_home') }}" #}>Voir toutes mes décisions 💫</a>

    {#  {% for decision in decisions %}
    <div class="row">
            <div class="card border-secondary col-sm-6 mb-3 m-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-secondary">{{ decision.timeline.name }}</div>
                <div class="card-body text-success">
                    <h5 class="card-title">{{ decision.title }}</h5>
                </div>
                <div class="card-footer bg-transparent border-secondary">{{ decision.user.firstName }} {{ decision.user.lastName }}</div>
            </div>
    </div>
    {% endfor %}#}


{% endblock %}
