{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1><i class="bi bi-person-plus me-2"></i><span>Inscription</span></h1>
    <div class="container col-3">
    {{ form_start(registrationForm) }}


            {{ form_row(registrationForm.lastName, {
                label: 'Nom'
            }) }}

            {{ form_row(registrationForm.firstName, {
                label: 'Prénom'
            }) }}

            {{ form_row(registrationForm.email, {
                label: 'E-mail'
            }) }}

            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
<div class="text-center">
        <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-check-lg me-2"></i><span>S'inscrire</span></button>
    {{ form_end(registrationForm) }}
</div>
    </div>

{% endblock %}
