{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1><i class="bi bi-person-plus me-2"></i><span>Inscription</span></h1>

    <small class="mb-4 text-center"><i class="bi bi-info-square me-2"></i><span>A noter : seuls les employés de Makesense sont autorisés à se créer un compte. Merci de votre compréhension.</span></small>

    <div class="container col-3">
    {{ form_start(registrationFormType) }}


            {{ form_row(registrationFormType.lastName, {
                label: 'Nom'
            }) }}

            {{ form_row(registrationFormType.firstName, {
                label: 'Prénom'
            }) }}

            {{ form_row(registrationFormType.email, {
                label: 'E-mail'
            }) }}

            {{ form_row(registrationFormType.plainPassword, {
                label: 'Mot de passe',
                help: '8 caractères minimum, au moins une majuscule, une minuscule et un chiffre.'
            }) }}
            {{ form_row(registrationFormType.avatar) }}

    </div>

<div class="container col-3">
    <div class="text-center mt-4 mb-5">
        <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg me-2"></i><span>S'inscrire</span></button>
    {{ form_end(registrationFormType) }}
    </div>
</div>


{% endblock %}
