{% extends 'base.html.twig' %}

{% block title %}Index des plannings{% endblock %}

{% block body %}
    <h1>Index des plannings</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
        {% for timeline in timelines %}
            <tr>
                <td>{{ timeline.id }}</td>
                <td>{{ timeline.name }}</td>
                <td>{{ timeline.startedAt ? timeline.startedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ timeline.endedAt ? timeline.endedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_timeline_show', {'id': timeline.id}) }}"><i class="bi bi-eye me-2"></i><span>Voir</span></a>
                    <a href="{{ path('app_timeline_edit', {'id': timeline.id}) }}"><i class="bi bi-gear me-2"></i><span>Modifier</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_timeline_new') }}">Create new</a>
{% endblock %}
