{% extends 'base.html.twig' %}

{% block title %}Mes contributions - Makesense{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes contributions</h1>
    <div class="row justify-content-center custom-line">

    {% for contributor in contributors %}
        {% if contributor.decision.user.id != app.user.id %}

                <div class="card col-sm-10 col-md-5 col-lg-3 m-3">
                    {% if contributor.implication.name=="Impactée" %}
                        <h6 class="mt-2 text-center text-uppercase"><i class="bi bi-people me-2"></i><span>Impacté</span></h6>
                    {% endif %}
                    {% if contributor.implication.name=="Experte" %}
                        <h6 class="mt-2 text-center text-uppercase"><i class="bi bi-people me-2"></i><span>Expert</span></h6>
                    {% endif %}

                {% for timeline in contributor.decision.timelines %}
                    {% if loop.first %}
                        <div class="card-header bg-transparent border-dark">
                            {{ timeline.name }}
                            <br><i class="bi bi-calendar2-week-fill text-success me-2"></i><span>Le : {{ timeline.endedAt |date('d/m/Y') }}</span>
                        </div>
                    {% endif %}
                    {% endfor %}
                        <div class="card-body text-success">
                            <h5 class="card-title">{{ contributor.decision.title }}</h5>
                        </div>
                        <div class="card-footer bg-transparent border-dark">
                            <img src ="https://picsum.photos/id/236/30/30" alt="{{ contributor.decision.user.firstName }} {{ contributor.decision.user.lastName }}"
                                 title="{{ contributor.decision.user.firstName }} {{ contributor.decision.user.lastName }}" class="rounded-circle"/>
                            {{ contributor.decision.user.firstName }} {{ contributor.decision.user.lastName }}
                            <br><a href="{{ path('app_decision_show', {id: contributor.decision.id }) }}"
                           class="stretched-link"></a>
                        </div>
                </div>

        {% endif %}
        {% else %}
        <h3>Aucune contribution en cours</h3>

        {% endfor %}
    </div>

    <div class ="d-flex justify-content-center">
        {{ knp_pagination_render(contributors) }}
    </div>
    </div>
{% endblock %}
