{% extends 'base.html.twig' %}

{% block title %}Toutes les décisions - Makesense{% endblock %}

{% block body %}


    <div class="container">
        <h2>Toutes les décisions</h2>

        <div class="row justify-content-center custom-line">
            {% for decision in decisions %}
                <div class="card col-sm-10 col-md-5 col-lg-3 m-3">
                    {% for timeline in decision.timelines %}
                        {% if loop.first %}
                            <div class="card-header bg-transparent border-secondary">
                                {{ timeline.name }}
                                <br>Le : {{ timeline.endedAt |date('d/m/Y') }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="card-body text-success">
                        <h5 class="card-title">{{ decision.title }}</h5>
                    </div>
                    <div class="card-footer bg-transparent border-secondary">
                        {{ decision.user.firstName }} {{ decision.user.lastName }}
                        <br><a href="{{ path('app_decision_show', {id: decision.id }) }}"
                               class="stretched-link"></a>
                    </div>

                </div>
            {% else %}
                <h3>Aucune décision</h3>

            {% endfor %}
        </div>
    </div>

{% endblock %}
