{% extends 'base.html.twig' %}

{% block title %}Modifier la timeline{% endblock %}

{% block body %}

      <h1><i class="bi bi-gear me-2"></i><span>Modifier la timeline</span></h1>

    {{ form_start(form) }}
        {% for timeline in form.timelines %}
            <h4>{{ timeline.vars.value.name }}</h4>
            {{ form_row(timeline.startedAt, {

            }) }}
            {{ form_row(timeline.endedAt, {
            }) }}
        {% endfor %}
    {{ form_end(form) }}

    <a href=" {{ path('app_decision_show', {id: decision.id }) }} ">
        <i class="bi bi-arrow-return-left me-2"></i><span>Retour à la decision</span>
    </a>


{% endblock %}
