{% extends 'base.html.twig' %}

{% block title %}Index des décisions{% endblock %}

{% block body %}
    <h1>Index des décisions</h1>

    <a class="btn btn-primary" href="{{ path('app_decision_new') }}">Créer une nouvelle décision</a>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Titre</th>
                <th>Détails</th>
                <th>Utilité</th>
                <th>Contexte</th>
                <th>Bénéfices</th>
                <th>Inconveniants</th>
            </tr>
        </thead>
        <tbody>
        {% for decision in decisions %}
            <tr>
                <td>{{ decision.id }}</td>
                <td>{{ decision.title|raw }}</td>
                <td>{{ decision.content|raw }}</td>
                <td>{{ decision.utility|raw }}</td>
                <td>{{ decision.context|raw }}</td>
                <td>{{ decision.benefits|raw }}</td>
                <td>{{ decision.inconvenients|raw }}</td>
                <td>
                    <a href="{{ path('app_decision_show', {'id': decision.id}) }}"><i class="bi bi-eye me-2"></i><span>Voir</span></a>
                    <a href="{{ path('app_decision_edit', {'id': decision.id}) }}"><i class="bi bi-gear me-2"></i><span>Modifier</span></a>
                    {{ include('decision/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune décision trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
