{% extends 'base.html.twig' %}

{% block title %}Index des décisions{% endblock %}

{% block body %}
    <h1>Index des décisions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Titre</th>
                <th>Détails</th>
                <th>Utilité</th>
                <th>Contexte</th>
                <th>Bénéfices</th>
                <th>Inconveniants</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decision in decisions %}
            <tr>
                <td>{{ decision.id }}</td>
                <td>{{ decision.title }}</td>
                <td>{{ decision.content }}</td>
                <td>{{ decision.utility }}</td>
                <td>{{ decision.context }}</td>
                <td>{{ decision.benefits }}</td>
                <td>{{ decision.inconvenients }}</td>
                <td>
                    <a href="{{ path('app_decision_show', {'id': decision.id}) }}">Voir</a>
                    <a href="{{ path('app_decision_edit', {'id': decision.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune décision trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_decision_new') }}">Créer une nouvelle décision</a>
{% endblock %}
