{% extends 'admin/base.html.twig' %}

{% block title %}{{ user.lastName }} {{ user.firstName }} - Détails de l'utilisateur{% endblock %}

{% block body %}
    <h1>Détails de l'utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_admin_user_index') }}"><i class="bi bi-arrow-return-left me-2"></i><span>Retour à la liste</span></a>

    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}"><i class="bi bi-gear me-2"></i><span>Modifier</span></a>

    {{ include('admin/admin_user/_delete_form.html.twig') }}
{% endblock %}
